.hero-image {
  background-image: url(../Assets/mooki_logo.jpeg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.hero-image--opacity {
  min-height: 88vh;
  background-color: #00000080;
}

.hero-image--title {
  font-size: 7.5vw;
}

@media all and (min-width: 972px) {
  .hero-image--opacity {
    min-height: 87vh;
  }
}
