@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

body {
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
}

.btn,
.btn-contact-form {
  background-color: #e3b8bf;
  border-color: #e3b8bf;
}

.btn:hover,
.btn:active,
.btn:focus{
  box-shadow: rgba(227, 184, 191, 0.8);
  background-color: #e3b8bf;
  color: #00000080;
  border-color: #e3b8bf;
  outline: none !important;
}