@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

.principal-color {
  background-color: #e3b8bf;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

hr {
  border: 0.15rem solid transparent;
  width: 80%;
  margin: auto;
}